.profile__edit-button{
    background-color: black;
    width: 24px;
    height: 24px;
    border: none;
    margin: auto 0 auto 18px;
    padding: 0;
    transform: scale(2.4);
    cursor: pointer;
}

.profile__edit-button:hover{
    opacity: 0.6;
}

@media (max-width: 950px){
    .profile__edit-button{
        transform: scale(1.8);
        margin: auto 0 auto 3px;
    }
}