.profile {
    margin: 0 0 47px;
    background-color: red;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1279px) {
    .profile {
        margin: 0 5.9% 36px;
    }
}