.header{
    margin:0 0 32.5px;
    padding: 45px 200px 60px;
}

@media (max-width: 1279px) and (min-width: 321px){
    .header{
        padding: 28px 16.5% 36px;
    }
}

@media (max-width: 320px){
    .header{
        padding: 28px 0 36px;
    }
}