.card__like{
    width: 22px;
    height: 19px;
    margin: 5px 0 0 5px;
    overflow: hidden;
    background-image: url("../../../images/like.svg");
    cursor: pointer;
}

.card__like:hover{
    opacity: 0.5;
}
